{% extends 'base.html' %}


{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Hello Home</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio vel laboriosam sed dolorem? Nobis
            inventore alias ipsum tempore exercitationem dicta quam, expedita perspiciatis in nemo molestiae autem minus
            odit temporibus animi accusamus molestias, quis adipisci dolorem! Quisquam, magni fuga expedita dolores
            laboriosam quaerat libero quam asperiores voluptatum sit at nobis vel, pariatur modi! In nihil earum
            architecto iure saepe doloremque animi fuga consequatur unde dolor? Ipsum ullam doloremque vel optio
            accusantium animi nostrum veritatis sequi tenetur sunt quidem sit recusandae cupiditate cum voluptatibus
            illo quia velit, fuga odio natus, at, soluta est mollitia. Saepe rem exercitationem sequi enim molestiae.
        </p>

        <div class="text-center">
            <a class="btn btn-success" href="/signin/">Sign in</a>
            <a class="btn btn-primary" href="/signup/">Sign up</a>
        </div>
    </section>
</main>
{% endblock %}